html,body{
  border:0px;
  margin:0px;
  padding:0px;
  height:100%;  
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  color: #4682B4;
}


.nav-tabs {
  border-bottom: none; 
}

section{
  border:0;
  margin:0;
}

header, h1{
  border: 0;
  margin: 0;
  padding: 8px;
  text-align: center;
}

p{
  margin-top: 2px;
  padding: 4px;
}

h2{
  border:0;
  margin: 2;
  padding: 8px;
  text-align: center;
  background-color: #E0FFFF;
}

#map {
  width: 600px;    /*600px;*/
  height: 600px;
  /*position:absolute;*/
}

#discipline-selector{
  margin:2px;
  padding:6px;
  display:inline-block;
}