html,body{
  border:0px;
  margin:0px;
  padding:0px;
  height:100%;  
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  color: #4682B4;
}


.nav-tabs {
  border-bottom: none; 
}

section{
  border:0;
  margin:0;
  word-spacing:15px;
}

h1{
  border: 0;
  padding: 6px;
  text-align: center;
  letter-spacing:4px;
  text-transform:uppercase;
  font-weight: 900;
  font-size:200%;
  background-color:azure;
}

a:hover {
  background-color: #D1EAFD;
}

p, span, dd{
  margin-top: 3px;
  padding: 4px;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight:500;
}

dt{
  font-weight:600;
  font-size: 25px;
  text-decoration: underline;
}

h2{
  border:0;
  margin: 2px 0px 2px 0px;
  padding-top: 20px;
  padding-bottom:20px;
  text-align: center;
  background-color: azure;
  text-transform: uppercase;
  font-weight:600;
  letter-spacing: 3px;
  
}

#uv-video{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin: 0 auto;
}

.table {
   margin: auto;
   width: 75% !important; 
}

#map{
  background-color:beige;
}

/*For making amendments to mapbox popup */
/*.mapboxgl-popup-content {*/
  
/*}*/

/*.mapboxgl-popup-content-wrapper{*/
  
/*}*/

#discipline-selector{
  margin:2px;
  padding:6px;
  display:inline-block;
}


/*Small devices*/
@media (max-width: 448px) {

  /*h1{*/
  /*  padding-left:20px;*/
  /*  padding-top:10px;*/
  /*  text-align:right;*/
  /*  letter-spacing:3px;*/
  /*  font-weight: 700;*/
  /*}*/


  #about{
    text-align: center;
  }  

  p, span, dd{
    margin-top: 2px;
    padding: 4px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight:400;
  }
  
  dt{
    font-size:18px;
    font-weight:500;
  }
  


  #table-desc{
    font-size:10px !important;
    text-aligns:right;
  }

  #map{
    width: 350px;    
    height: 80px;
  }  
  
  
}
  
  
/*Medium devices*/
@media (max-width: 991.98px) {
  
  
  #map{
    width: 800px;    
    height: 400px;
  }  
}
  

/*Large devices*/
@media (min-width: 991.99px) {
  
  #about{
    text-align:center;
  }
  
  #uv-video{
    height:500px;
    width:889px;
  }

  #table-desc{
    font-size:18px;
  }
  
  #map{
    width: 1000px;    
    height: 600px;
  }  
    
}